<ion-view title="Ayatul Kursi">
  <ion-content class="has-header padding" style="text-align: center">
    <h1>Ayatul Kursi</h1>
    <h1 style="color: #346E15;">
        
        اللّهُ لاَ إِلَـهَ إِلاَّ هُوَ الْحَيُّ الْقَيُّومُ لاَ تَأْخُذُهُ سِنَةٌ وَلاَ نَوْمٌ لَّهُ مَا فِي السَّمَوَاتِ وَمَا فِي الأَرْضِ مَن ذَا الَّذِي يَشْفَعُ عِنْدَهُ إِلاَّ بِإِذْنِهِ يَعْلَمُ مَا بَيْنَ أَيْدِيهِمْ وَمَا خَلْفَهُمْ وَلاَ يُحِيطُونَ بِشَيْءٍ مِّنْ عِلْمِهِ إِلاَّ بِمَا شَاء وَسِعَ كُرْسِيُّهُ السَّمَوَاتِ وَالأَرْضَ وَلاَ يَؤُودُهُ حِفْظُهُمَا وَهُوَ الْعَلِيُّ الْعَظِيمُ
        
    </h1>
    <h4>
Allahu la ilaha illa huwa Al -Haiyul-Qaiyum
La ta'khudhuhu sinatun wa la nawm
lahu ma fi as-samawati wa ma fil-'ard
Man dhal-ladhi yashfa'u 'indahu illa bi-idhnihi
Ya'lamu ma bayna aydihim wa ma khalfahum
wa la yuhituna bi shai'in min 'ilmihi illa bima sha'a
Wasi'a kursiyuhus-samawati wal ard
wa la ya'uduhu hifdhuhuma
wa Hu wal 'Aliyul-Adheem
<br>
<br>
Allah - there is no deity except Him, the Ever-Living, the Sustainer of [all] existence. Neither drowsiness overtakes Him nor sleep. To Him belongs whatever is in the heavens and whatever is on the earth. Who is it that can intercede with Him except by His permission? He knows what is [presently] before them and what will be after them, and they encompass not a thing of His knowledge except for what He wills. His Kursi extends over the heavens and the earth, and their preservation tires Him not. And He is the Most High, the Most Great.
    </h4>
<br>
  </ion-content>
</ion-view>
