<ion-view title="Dua">
    <ion-content class="has-header padding">
        <ion-list>
            <ion-item type="item-text-wrap" href="#tab/durood">
                <h2>Durood-e-Ibrahimi</h2>
            </ion-item>
            <ion-item type="item-text-wrap" href="#tab/ayatul-kursi">
                <h2>Ayatul Kursi</h2>
            </ion-item>
            <ion-item type="item-text-wrap" >
                <h2>4 Quls</h2>
            </ion-item>
            <ion-item type="item-text-wrap" href="#tab/99namesList">
                <h2>99 Names of Allah</h2>
            </ion-item>
            <ion-item type="item-text-wrap" href="#tab/tasbeeh">
                <h2>Tasbeeh</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
